@model List<HotelBooking.MVC.Models.Booking>

<h2>Booking History</h2>

<table class="table">

    <tr>
        <th>Hotel</th>
        <th>Room</th>
        <th>Price</th>
       
    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.HotelId</td>
            <td>@b.RoomType</td>
            <td>₹@b.TotalPrice</td>
           
        </tr>
    }

</table>