@model HotelBooking.MVC.Models.Hotel

<h2>Add Hotel</h2>

<form asp-action="CreateHotel">

    <input asp-for="HotelName" placeholder="Hotel Name" class="form-control" />
    <input asp-for="Location" placeholder="Location" class="form-control" />
    <input asp-for="Description" placeholder="Description" class="form-control" />

    <h4>Rooms</h4>

    <input asp-for="DeluxeCapacity" placeholder="Deluxe Capacity" class="form-control" />
    <input asp-for="StandardCapacity" placeholder="Standard Capacity" class="form-control" />

    <input asp-for="DeluxePrice" placeholder="Deluxe Price" class="form-control" />
    <input asp-for="StandardPrice" placeholder="Standard Price" class="form-control" />

    <br />
    <button class="btn btn-success">Add Hotel</button>

</form>